<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>服务项目宝贝</title>
    <link href="/style/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/style/css/item.css" rel="stylesheet">
</head>
<body>
<!-- 服务详情-->
<!--detail begin-->
<div class="container">
    <!--宝贝页头-->
    <div class="detailHeader">
        <!--面包-->
        <div class="row">
        <div class="detailNav col-sm-12 col-md-12 col-lg-12">

            <div class="breadcrumb">
                <div class="position clearfix">
                    <div class="link-index left">
                        <a href="http://tao.yuemei.com/" target="_blank">淘整形</a>
                        <span class="arrow">&gt;</span>
                    </div>
                    <div class="scroll left">
                        <a target="_blank" href="http://tao.yuemei.com/fullface/">多部位面部填充</a>
                        <span class="arrow">&gt;</span>
                    </div>
                    <div class="scroll left">
                        <a target="_blank" href="http://tao.yuemei.com/beijing/fullface/">北京多部位面部填充</a>
                        <span class="arrow">&gt;</span>
                    </div>
                    <div class="scroll left">
                        <span class="arrow red">注射微整</span>
                    </div>
                </div>
            </div>
            <a href="http://www.yuemei.com/z/20150402.html" class="right tree" target="_blank">悦美安全保障</a>

        </div>
        </div>
        <!-- bady -->
        <div class="row">
        <div class="detailInfo col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div class="detailInfoImg col-sm-5 col-md-5 col-lg-5">
                图片
                </div>
                <div class="detailInfoSelect col-sm-7 col-md-7 col-lg-7">
                信息
                </div>
            </div>
        </div>
        <div class="detailHospital col-sm-3 col-md-3 col-lg-3">
		3333
        </div>
        </div>
        <!-- bady  end-->
	</div>
    <!--宝贝页头 end-->

    <div class="row detailBaby">
        <div class="detailInfo col-sm-9 col-md-9 col-lg-9">
            222
        </div>
        <!--right begin -->
        <div class="detail col-sm-3 col-md-3 col-lg-3">
            323
        </div>
    </div>
</div>
<!--detail end -->
</body>
</html>