<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>服务项目</title>
    {load file='__layui__/css/layui.css'}
    {load file='__layui__/layui.js'}
    {load file='__css__/currency.css'}
    {load file='__fontawesome__/css/font-awesome.min.css'}
	{load file='__css__/item.css'}
</head>
<body>
<!-- 宠物服务项目-->
<div class="layui-container">
    <!--item begin-->
    <div class="layui-row ">
        <!--left begin -->
        <div class="ItemListLeft layui-col-xs12 layui-col-sm9 layui-col-md9 layui-col-lg9">
            <ul>
            <li>
            <div class="left listIimg">
                <img src="http://p24.yuemei.com/tao/2017/0810/200_200/jt170810115203_39f944.jpg" alt="北京衡力瘦脸针 100单位 全月大派送 在线咨询即送脱毛/纳米微针二选一">
            </div>
            <div class="left listInfo">
                <p class="listInfo-item2">瘦脸针 北京衡力瘦脸针 100单位 全月大派送 在线咨询即送脱毛/纳米微针二选一 </p>
                <p class="listInfo-item4">
                    北京凯润婷(原史三八）医疗美容医院（民营一级医...
                    <i>/</i>宋长绪医生                        </p>
                <p class="listInfo-item4 listInfo-item4_2">
                    10318人预约                            <i>/</i>评分 4.7                                <em class="levbox"><i></i><b style="width:94%"></b></em>
                </p>
                <div class="bot-lab">
                </div>
            </div>
            <div class="right contrast">
                <p class="ymPrice"><span><i class="cpink ft14">￥</i><em class="cpink ft26">476</em> </span>
                </p>
                <p class="hosPrice c999">
                <span>医院价<i class="c999 ft12">￥3980</i>
                                <em class="rebate">1.7折</em></span>
                </p>
            </div>
            </li>
                <li>
                    <div class="left listIimg">
                        <img src="http://p24.yuemei.com/tao/2017/0810/200_200/jt170810115203_39f944.jpg" alt="北京衡力瘦脸针 100单位 全月大派送 在线咨询即送脱毛/纳米微针二选一">
                    </div>
                    <div class="left listInfo">
                        <p class="listInfo-item2">瘦脸针 北京衡力瘦脸针 100单位 全月大派送 在线咨询即送脱毛/纳米微针二选一 </p>
                        <p class="listInfo-item4">
                            北京凯润婷(原史三八）医疗美容医院（民营一级医...
                            <i>/</i>宋长绪医生                        </p>
                        <p class="listInfo-item4 listInfo-item4_2">
                            10318人预约                            <i>/</i>评分 4.7                                <em class="levbox"><i></i><b style="width:94%"></b></em>
                        </p>
                        <div class="bot-lab">
                        </div>
                    </div>
                    <div class="right contrast">
                        <p class="ymPrice"><span><i class="cpink ft14">￥</i><em class="cpink ft26">476</em> </span>
                            <img class="sale-img" src="http://p33.yuemei.com/taobigpromotion/20170901182313_302.png">
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!--right begin -->
        <div class="ItemListRight layui-col-xs12 layui-col-sm3 layui-col-md3 layui-col-lg3">
        </div>
    <!--item end -->
</div>
</div>
</body>
</html>