<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>爱宠医院网(IChong120.Com) - 最专业的在线咨询_问答_查询宠物医院网站</title>
    <meta name="keywords" content="爱宠网,宠物医院" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap-3.3.5/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/flickerplate.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/ichong.index.css">   
    <script language="javascript" type="text/javascript" src="__PUBLIC__/index/js/min/jquery-v2.1.1.min.js"></script>   
    <script language="javascript" type="text/javascript" src="__PUBLIC__/bootstrap-3.3.5/js/bootstrap.min.js"></script> 
    <script language="javascript" type="text/javascript" src="__PUBLIC__/index/js/min/jquery-finger-v0.1.0.min.js" ></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/index/js/min/modernizr-custom-v2.7.1.min.js" ></script>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/index/js/min/flickerplate.min.js" ></script>
    
<script type="text/javascript">    
$(document).ready(function(){
        $('.sidelist').mousemove(function(){
            $(this).find('.i-list').show();
            $(this).find('.nav0').addClass('hover');
        });
        $('.sidelist').mouseleave(function(){
            $(this).find('.i-list').hide();
            $(this).find('.nav0').removeClass('hover');
        });
    });  
</script>
<script>
    $(document).ready(function(){        
        $('.index-flicker').flicker();
    });
    </script>
    <link rel="icon" href="/favicon.ico">
</head>
<body>
<!-- 适用手机、平板、大桌面显示器-->
<div class="container-fluid index-t-width">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><a href=""><i class="icon-home"></i>首页</a><a href=""><i class="icon-comments"></i>爱宠医院网微信号</a> </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right"><a href=""><i class="icon-hospital"></i>医院入口</a><a href=""><i class="icon-user-md"></i>医生注册</a><a href=""><i class="icon-user"></i>用户注册</a><a href=""><i class="icon-laptop"></i>登陆</a></div>
        </div>              
    </div>
</div><!--index-t end-->
<div class="container">
    <div class="row index-header">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 index-logo"><h1><a href="" title="爱宠医院网"></a></h1></div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center index-form">
            <form  action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入疾病名、医院或医生名">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">文字</div>
    </div>
</div><!--index-header end-->
<div class="container-fluid index-nav">
    <div class="container">
        <div class="row pull-left index-nav-left">
        <h4><i class="icon-list"></i>帮你快速找医生</h4>
        <div class="index-fenlei">
    <div class="sidelist">
    <dl class="nav0 nav0">
    <dt><b></b><a href="">常见症状</a></dt>
    <dd><a href="list-223.html">呕吐</a><a href="">流眼泪</a><a href="">腹泻</a></dd>
    </dl>

    <div class="i-list i-list1">
    <div class="subitem">
    <dl>
    <dt>常见症状</dt>
    <dd>
    <a href="">厌食症</a><a href="">感冒</a><a href="">流鼻涕</a><a href="">缺钙</a><a href="">螨虫</a><a href="">蛔虫</a><a href="">寄生虫</a><a href="">皮炎</a><a href="">皮屑</a><a href="">犬瘟</a><a href="">发烧</a><a href="">便血</a><a href="">疫苗</a><a href="">细小</a>   
    </dd>
    </dl>
    
    </div>
    <div class="subad">
    <dl><dt>推荐品牌</dt>
    <dd>
    <a href="" target="_blank">诺优能</a>
    <a href="" target="_blank">爱他美</a>
    <a href="" target="_blank">喜宝</a>
    <a href="" target="_blank">惠氏</a>
    <a href="" target="_blank">可瑞康</a>
    </dd>
    </dl>
    <ul>
    <li><a href="" target="_blank"><img src="" height="70px"></a></li>
    <li><a href="" target="_blank"><img src="" height="70px"></a></li>
    </ul>
    </div>
    </div>
    </div>

    <div class="sidelist">
    <dl class="nav0 nav1">
    <dt><b></b><a href="list-2.html">内科</a></dt>
    <dd>
    <a href="">便秘</a>
    <a href="">黄疸</a>
    <a href="">心力衰竭</a>
    </dd>
    </dl>
    <div class="i-list i-list2">
    <div class="subitem">
    <dl>
    <dt>米粉/菜粉</dt>
    <dd>
     <a href="">中毒</a><a href="">肿瘤</a><a href="">神经性</a><a href="">心血管</a><a href="">内分泌</a><a href="">消化系统</a><a href="">呼吸系统</a><a href="">营养代谢</a> 
    </dd>
    </dl>    
    </div>
    <div class="subad">
    <dl><dt>推荐品牌</dt><dd><a href="" target="_blank">亨氏</a><a href="" target="_blank">嘉宝</a><a href="" target="_blank">喜宝</a></dd></dl>
    <ul>
    <li><a href="" target="_blank"><img src="" height="70px"></a></li>
    <li><a href="" target="_blank"><img src="" height="70px"></a></li>
    </ul>
    </div>
    </div>
    </div>

    <div class="sidelist">
    <dl class="nav0 nav2"><dt><b></b><a href="list-3.html">外科</a></dt>
    <dd>
    <a href="">消化系</a>
    <a href="">呼吸系</a>
    <a href="">中毒病</a>
    </dd>
    </dl>
    <div class="i-list i-list3">
    <div class="subitem">
    <dl><dt>婴幼儿营养</dt>
    <dd><a href="">外伤</a><a href="">耳病</a><a href="">口腔</a><a href="">生殖系统</a><a href="">肛肠</a><a href="">绝育</a></dd></dl>
    </div>
    <div class="subad">
    <dl>
    <dt>推荐品牌</dt>
    <dd><a href="" target="_blank">童年时光</a><a href="" target="_blank">挪威小鱼</a><a href="" target="_blank">惠氏</a></dd>
    </dl>
    <ul>
    <li><a href="" target="_blank"><img src="" height="70px"></a></li><li><a href="" target="_blank"><img src="" height="70px"></a></li>
    </ul>
    </div></div></div>

    <div class="sidelist">
    <dl class="nav0 nav3"><dt><b></b><a href="list-3.html">产科</a></dt>
    <dd>
    <a href="">消化系</a>
    <a href="">呼吸系</a>
    <a href="">中毒病</a>
    </dd>
    </dl>
    <div class="i-list i-list4">
    <div class="subitem">
    <dl><dt>产科</dt>
    <dd><a href="">难产</a><a href="">子宫疾病</a><a href="">产道疾病</a><a href="">新生仔疾病</a><a href="">乳房疾病</a><a href="">产后疾病</a><a href="">妊娠期疾病</a></dd></dl></div>
    <div class="subad">
    <dl>
    <dt>推荐品牌</dt>
    <dd><a href="" target="_blank">童年时光</a><a href="" target="_blank">挪威小鱼</a><a href="" target="_blank">惠氏</a></dd>
    </dl>
    <ul>
    <li><a href="" target="_blank"><img src="" height="70px"></a></li><li><a href="" target="_blank"><img src="" height="70px"></a></li>
    </ul>
    </div></div></div>

    <div class="sidelist">
    <dl class="nav0 nav4"><dt><b></b><a href="list-3.html">骨科</a></dt>
    <dd>
    <a href="">消化系</a>
    <a href="">呼吸系</a>
    <a href="">中毒病</a>
    </dd>
    </dl>
    <div class="i-list i-list5">
    <div class="subitem">
    <dl><dt>骨科</dt>
    <dd><a href="">关节炎</a><a href="">关节发育不全</a><a href="">脆骨症</a><a href="">软骨病</a><a href="">骨损伤</a></dd></dl></div>
    <div class="subad">
    <dl>
    <dt>推荐品牌</dt>
    <dd><a href="" target="_blank">童年时光</a><a href="" target="_blank">挪威小鱼</a><a href="" target="_blank">惠氏</a></dd>
    </dl>
    <ul>
    <li><a href="" target="_blank"><img src="" height="70px"></a></li><li><a href="" target="_blank"><img src="" height="70px"></a></li>
    </ul>
    </div></div></div>

    <div class="sidelist">
    <dl class="nav0 nav5"><dt><b></b><a href="list-3.html">皮肤科</a></dt>
    <dd>
    <a href="">消化系</a>
    <a href="">呼吸系</a>
    <a href="">中毒病</a>
    </dd>
    </dl>
    <div class="i-list i-list6">
    <div class="subitem">
    <dl><dt>皮肤科</dt>
    <dd><a href="">细菌皮肤病</a><a href="">真菌皮肤病</a><a href="">外寄生虫性皮肤病</a></dd></dl></div>
    <div class="subad">
    <dl>
    <dt>推荐品牌</dt>
    <dd><a href="" target="_blank">童年时光</a><a href="" target="_blank">挪威小鱼</a><a href="" target="_blank">惠氏</a></dd>
    </dl>
    <ul>
    <li><a href="" target="_blank"><img src="" height="70px"></a></li><li><a href="" target="_blank"><img src="" height="70px"></a></li>
    </ul>
    </div></div></div>
    <div class="sidelist">
    <dl class="nav0 nav6"><dt><b></b><a href="list-3.html">传染病科</a></dt>
    <dd>
    <a href="">消化系</a>
    <a href="">呼吸系</a>
    <a href="">中毒病</a>
    </dd>
    </dl>
    <div class="i-list i-list7">
    <div class="subitem">
    <dl><dt>传染病科</dt>
    <dd> <a href="">细菌传染病</a><a href="">真菌传染病</a><a href="">病毒性传染病</a><a href="">尿道结石</a><a href="">膀胱结石</a><a href="">尿道炎症</a> </dd></dl></div>
    <div class="subad">
    <dl>
    <dt>推荐品牌</dt>
    <dd><a href="" target="_blank">童年时光</a><a href="" target="_blank">挪威小鱼</a><a href="" target="_blank">惠氏</a></dd>
    </dl>
    <ul>
    <li><a href="" target="_blank"><img src="" height="70px"></a></li><li><a href="" target="_blank"><img src="" height="70px"></a></li>
    </ul>
    </div></div></div>  


            </div>
        </div>
        <div class="pull-left index-nav-right">
            <ul class="nav nav-tabs">
                <li><a href="">首页</a></li>
                <li><a href="">医生问答</a></li>
                <li><a href="">找医院</a></li>
                <li><a href="">找医生</a></li>                             
                <li><a href="">社区</a></li>
                <li><a href="">资讯</a></li>
                <li><a href="">百科</a></li>
            </ul>
        </div>
    </div>    
</div><!-- index-nav end-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 index-flicker" data-block-text="false">         
        <ul>
            <li data-background="__PUBLIC__/index/images/field.jpg"></li>
            <li data-background="__PUBLIC__/index/images/forest.jpg"></li>
            <li data-background="__PUBLIC__/index/images/frozen-water.jpg"></li>
          </ul>
        </div>       
    </div>
</div>
<div class="container mt15">
     <!--两条图片新闻-->
         <div class="row index-imgnews">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 imgnews">
               <img  src="__PUBLIC__/index/images/14-150G5121942106.jpg"><!--img-thumbnail-->
               <div class="pull-right imgnews-content fz16">
                    <a href="" title="" target="_blank">微医家庭健康节，首战助力艾滋病防治</a>
                    <p class=""> 在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您对本协议的条款</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 imgnews">
                 <img src="__PUBLIC__/index/images/14-150630113935C3.jpg">
               <div class="pull-right imgnews-content fz16">
                    <a href="" title="" target="_blank">微医家庭健康节，首战助力艾滋病防治</a>
                    <p class=""> 在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您对本协议的条款</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 imgnews">
                <img class="img-thumbnail" src="__PUBLIC__/index/images/9356147_172715250000_2.jpg">
               <div class="pull-right imgnews-content fz16">
                    <a href="" title="" target="_blank">微医家庭健康节，首战助力艾滋病防治</a>
                    <p class=""> 在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您对本协议的条款</p>
                </div>
            </div>          
        </div>
        <!--预约 -->
        <div class="row mt20 ">
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 yuyue ">
             <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  pu-line pu-title"><h3>推荐医院</h3><p class="pull-left"> 放心医院，便捷就医！</p><span><a href="">全国医院排行榜</a></span></div>
                </div>
                <div class="row mt15 yuyue-ru">                    
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 yuyue-right  pd20 border">
                        <ul id="myTab" class="nav nav-tabs">                           
                            <li class="active"><a href="#beijing" data-toggle="tab">北京</a></li>
                            <li><a href="#shanghai" data-toggle="tab">上海</a></li>
                            <li><a href="#guangdong" data-toggle="tab">广东</a></li>                            
                            <li><a href="#jiangsu" data-toggle="tab">江苏</a></li>
                            <li><a href="#hubei" data-toggle="tab">湖北</a></li>
                            <li><a href="#shanxi" data-toggle="tab">山西</a></li>
                            <li><a href="#chongqing" data-toggle="tab">重庆</a></li>
                            <li><a href="#shandong" data-toggle="tab">山东</a></li>
                            <li><a href="#zhejiang" data-toggle="tab">浙江</a></li>

                            <li class="dropdown pull-right">
                                <a href="#" id="myTabDrop1" class="dropdown-toggle" 
                                   data-toggle="dropdown">其他地区
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                    <li><a href="#sichuan" tabindex="-1" data-toggle="tab">四川</a></li>
                                    <li><a href="#hainan" tabindex="-1" data-toggle="tab">海南</a></li>
                                    <li><a href="#sanxi" tabindex="-1" data-toggle="tab">陕西</a></li>
                                    <li><a href="#hebei" tabindex="-1" data-toggle="tab">河北</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="row Hospital-fade tab-pane fade in active" id="beijing">
                                <div class="Hospital-top mt15 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                   <div class="row">
                                        <div class="pull-left Hospital-left col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                           <div class="pull-left Hospital-img">
                                            <a href="" ><img class="img-rounded" src="__PUBLIC__/index/images/14-150G5121942106.jpg"></a>
                                           </div>
                                           <div class="pull-right Hospital-info">
                                            <address>
                                                <strong><a href="" class="text-primary">复旦大学附属华山医院</a></strong><br>
                                                三级甲等<br>
                                                电话：021-52889999
                                            </address>
                                           </div>
                                        </div>
                                        <div class="pull-left Hospital-left col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                           <div class="pull-left Hospital-img">
                                            <a href="" ><img class="img-rounded" src="__PUBLIC__/index/images/14-150G5121942106.jpg"></a>
                                           </div>
                                           <div class="pull-right Hospital-info">
                                            <address>
                                                <strong><a href="" class="text-primary">复旦大学附属华山医院</a></strong><br>
                                                三级甲等<br>
                                                电话：021-52889999
                                            </address>
                                           </div>
                                        </div>
                                         <div class="pull-right Hospital-left col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                            <div class="pull-left Hospital-img">
                                            <a href="" ><img class="img-rounded" src="__PUBLIC__/index/images/14-150630113935C3.jpg" ></a>
                                           </div>
                                           <div class="pull-right Hospital-info">
                                            <address>
                                                <strong><a href="" class="text-primary">复旦大学附属华山医院</a></strong><br>
                                                三级甲等<br>
                                                电话：021-52889999
                                            </address>
                                           </div>
                                        </div>
                                   </div>
                                </div>
                                <div class="Hospital-bottom mt15 col-xs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                   <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                           <ul >
                                            <li><a href="" title="">复旦大学附属妇产科医院（黄浦）</a></li>
                                            <li><a href="" title=""> 复旦大学附属眼耳鼻喉科医院</a></li>
                                            <li><a href="" title=""> 复旦大学附属中山医院</a></li>
                                                                                      
                                           </ul>
                                        </div>
                                         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                           <ul >
                                            <li><a href="" title="">复旦大学附属妇产科医院（黄浦）</a></li>
                                            <li><a href="" title=""> 复旦大学附属眼耳鼻喉科医院</a></li>
                                            <li><a href="" title=""> 复旦大学附属中山医院</a></li>
                                                                                      
                                           </ul>
                                        </div>
                                         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">                                          
                                           <ul>
                                            <li><a href="" title="">复旦大学附属妇产科医院（黄浦）</a></li>
                                            <li><a href="" title=""> 复旦大学附属眼耳鼻喉科医院</a></li>
                                            <li><a href="" title=""> 复旦大学附属中山医院</a></li>
                                                                                     
                                           </ul>                                      
                                        </div>
                                   </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="shanghai">
                                上海
                            </div>
                            <div class="tab-pane fade" id="guangdong">
                                广东
                            </div>                           
                            <div class="tab-pane fade" id="jiangsu">
                                江苏
                            </div>
                            <div class="tab-pane fade" id="hubei">
                                湖北
                            </div>
                            <div class="tab-pane fade" id="shanxi">
                                山西
                            </div>
                             <div class="tab-pane fade" id="chongqing">
                                重庆
                            </div>
                            <div class="tab-pane fade" id="shandong">
                                山东
                            </div>
                            <div class="tab-pane fade" id="zhejiang">
                                浙江
                            </div>
                            <div class="tab-pane fade" id="sichuan">
                                四川
                            </div>
                            <div class="tab-pane fade" id="hainan">
                                海南
                            </div>
                            <div class="tab-pane fade" id="sanxi">
                                陕西
                            </div>
                            <div class="tab-pane fade" id="hebei">
                                河北
                            </div>
                        </div>
                    </div>

                </div>

                 </div>

                 <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  pu-line pu-title"><h3>预约挂号</h3><p class="pull-left"> 快速预约</p></div>
                </div>
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 yuyue-left mt15 yuyue-ru pd20 border">
                        <form  methed="" action="">
                       <div class="yuyueleft-title">
                        <i class="icon-map-marker"></i><span>北京</span><span>海淀区</span><a href="" >切换</a><i class="icon-caret-down"></i>
                       </div>
                       <div class="yuyueleft-main mt15">
                        <input type="text" class="form-control" name="" value="" placeholder="请输入你要预约的医院">
                        <input type="text" class="form-control" name="" value="" placeholder="请选择科室">
                        
                       </div>
                       <input type="submit" class="form-control btn btn-warning " value="快速挂号">
                       </form>
                    </div>
                   
                 </div>

             </div>



                
                




             </div>
            
        </div>
        </div>

        <!--在线问诊-->
        <div class="row mt20 index-online">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pu-line pu-title"><h3>在线问诊</h3><p class="pull-left">足不出户看医生</p></div>
            </div>
            <div class="row mt15 online-inter">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pd20 border">
                        <ul id="myTab" class="nav nav-tabs">                            
                            <li class="active"><a href="#neike" data-toggle="tab">内科</a></li>
                            <li><a href="#waike" data-toggle="tab">外科</a></li>
                            <li><a href="#chanke" data-toggle="tab">产科</a></li>                            
                            <li><a href="#guke" data-toggle="tab">骨科</a></li>
                            <li><a href="#pifuke" data-toggle="tab">皮肤科</a></li>
                            <li><a href="#chuanranbingke" data-toggle="tab">传染病科</a></li>
                            <li><a href="#miniaoke" data-toggle="tab">泌尿科</a></li>
                        </ul>
                        <div id="myTabContent" class="row  tab-content">
                            <div class="tab-pane fade in active col-xs-12 col-sm-12 col-md-12 col-lg-12" id="neike">
                                <div class="online-tabImg">
                                    <div class=" tabImg-content pull-left mt20 border">
                                        <div class="tabImg-top pd20">
                                        <div class="tabImgc-img">
                                            <a href="" ><img class="img-circle" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                                        </div>
                                        <div class="tabImgc-info ml20">
                                            <address>
                                                <span><a href="">肖艳峰</a>副教授</span>
                                                <span>中国人民解放军总医院301</span>
                                                <span>已有330人问诊</span>
                                            </address>                                            
                                        </div>
                                        </div>

                                        <div class="tabImg-bottom pt15">
                                        <p>儿童各类肺炎、腹泻、脑炎、肾炎、心肌炎、结啼组织...</p>
                                        </div>
                                        
                                    </div><!--块级-->                                   
                                    <div class="tabImg-content pull-left mt20 border">
                                        <div class="tabImg-top pd20">
                                        <div class="tabImgc-img">
                                            <a href="" ><img class="img-circle" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                                        </div>
                                        <div class="tabImgc-info ml20">
                                            <address>
                                                <span><a href="">肖艳峰</a>副教授</span>
                                                <span>中国人民解放军总医院301</span>
                                                <span>已有330人问诊</span>
                                            </address>                                            
                                        </div>
                                        </div>

                                        <div class="tabImg-bottom pt15">
                                        <p>儿童各类肺炎、腹泻、脑炎、肾炎、心肌炎、结啼组织...</p>
                                        </div>
                                        
                                    </div><!--块级-->
                                    <div class="tabImg-content pull-left mt20 border">
                                        <div class="tabImg-top pd20">
                                        <div class="tabImgc-img">
                                            <a href="" ><img class="img-circle" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                                        </div>
                                        <div class="tabImgc-info ml20">
                                            <address>
                                                <span><a href="">肖艳峰</a>副教授</span>
                                                <span>中国人民解放军总医院301</span>
                                                <span>已有330人问诊</span>
                                            </address>                                            
                                        </div>
                                        </div>

                                        <div class="tabImg-bottom pt15">
                                        <p>儿童各类肺炎、腹泻、脑炎、肾炎、心肌炎、结啼组织...</p>
                                        </div>
                                        
                                    </div><!--块级-->
                                    <div class="tabImg-content pull-left mt20 border">
                                        <div class="tabImg-top pd20">
                                        <div class="tabImgc-img">
                                            <a href="" ><img class="img-circle" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                                        </div>
                                        <div class="tabImgc-info ml20">
                                            <address>
                                                <span><a href="">肖艳峰</a>副教授</span>
                                                <span>中国人民解放军总医院301</span>
                                                <span>已有330人问诊</span>
                                            </address>                                            
                                        </div>
                                        </div>

                                        <div class="tabImg-bottom pt15">
                                        <p>儿童各类肺炎、腹泻、脑炎、肾炎、心肌炎、结啼组织...</p>
                                        </div>
                                        
                                    </div><!--块级-->
                                    <div class="tabImg-content pull-left mt20 border">
                                        <div class="tabImg-top pd20">
                                        <div class="tabImgc-img">
                                            <a href="" ><img class="img-circle" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                                        </div>
                                        <div class="tabImgc-info ml20">
                                            <address>
                                                <span><a href="">肖艳峰</a>副教授</span>
                                                <span>中国人民解放军总医院301</span>
                                                <span>已有330人问诊</span>
                                            </address>                                            
                                        </div>
                                        </div>

                                        <div class="tabImg-bottom pt15">
                                        <p>儿童各类肺炎、腹泻、脑炎、肾炎、心肌炎、结啼组织...</p>
                                        </div>
                                        
                                    </div><!--块级-->
                                    <div class=" tabImg-content pull-left mt20  border">
                                        <div class="tabImg-top pd20">
                                        <div class="tabImgc-img ">
                                            <a href="" ><img class="img-circle" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                                        </div>
                                        <div class="tabImgc-info ml20">
                                            <address>
                                                <span><a href="">肖艳峰</a>副教授</span>
                                                <span>中国人民解放军总医院301</span>
                                                <span>已有330人问诊</span>
                                            </address>                                            
                                        </div>
                                        </div>

                                        <div class="tabImg-bottom pt15">
                                        <p>儿童各类肺炎、腹泻、脑炎、肾炎、心肌炎、结啼组织...</p>
                                        </div>
                                        
                                    </div><!--块级-->

                                </div><!--在线问诊医生-->

                                <div class="online-tabAsk mt20">
                                    <div class="tabAsk-content borderH pt15 mb15">
                                    <div class="tabAsk-q">
                                        <i class="icon-bookmark"></i>
                                        <span>已经吃了六个月达英，这个月医生给开了调经促孕丸，也没安排促排。可是激素范围范围范围内</span>
                                        <p class="q-time">2016-09-07</p>
                                    </div>
                                    <div class="tabAsk-a mt15 ml20" style="display:block">
                                            <a href="" class="tabAska-a"><img src="__PUBLIC__/index/images/14-150630113935C3.jpg" class="img-circle"></a>
                                            <div class="tabAskac-p">
                                                <p><a href="">王勇来</a>主任医师  中国医科大学附属盛京医院-妇科</p>
                                                <p>卵巢囊肿可能是生理性。子宫内膜略薄一些。不影响怀孕。<a href="">详细</a></p>
                                            </div>
                                    </div>                                    
                                    </div><!---->
                                    <div class="tabAsk-content borderH pt15 ">
                                    <div class="tabAsk-q" >
                                        <i class="icon-bookmark"></i>
                                        <span>已经吃了六个月达英，这个月医生给开了调经促孕丸，也没安排促排。可是激素范围范围范围内</span>
                                        <p class="q-time">2016-09-07</p>
                                    </div>
                                    <div class="tabAsk-a mt15 ml20" style="display:none" >
                                            <a href="" class="tabAska-a"><img src="__PUBLIC__/index/images/14-150630113935C3.jpg" class="img-circle"></a>
                                            <div class="tabAskac-p">
                                                <p><a href="">王勇来</a>主任医师  中国医科大学附属盛京医院-妇科</p>
                                                <p>卵巢囊肿可能是生理性。子宫内膜略薄一些。不影响怀孕。<a href="">详细</a></p>
                                            </div>
                                    </div>                                    
                                    </div>
                                    <div class="tabAsk-content borderH pt15 ">
                                    <div class="tabAsk-q" >
                                        <i class="icon-bookmark"></i>
                                        <span>已经吃了六个月达英，这个月医生给开了调经促孕丸，也没安排促排。可是激素范围范围范围内</span>
                                        <p class="q-time">2016-09-07</p>
                                    </div>
                                    <div class="tabAsk-a mt15 ml20" style="display:none">
                                            <a href="" class="tabAska-a"><img src="__PUBLIC__/index/images/14-150630113935C3.jpg" class="img-circle"></a>
                                            <div class="tabAskac-p">
                                                <p><a href="">王勇来</a>主任医师  中国医科大学附属盛京医院-妇科</p>
                                                <p>卵巢囊肿可能是生理性。子宫内膜略薄一些。不影响怀孕。<a href="">详细</a></p>
                                            </div>
                                    </div>                                    
                                    </div>
                                   
                                </div><!--在线问诊问答-->



                            </div>
                            <div class="tab-pane fade col-xs-12 col-sm-12 col-md-12 col-lg-12" id="waike">
                                外科
                            </div>
                            <div class="tab-pane fade col-xs-12 col-sm-12 col-md-12 col-lg-12" id="chanke">
                                产科
                            </div>                           
                            <div class="tab-pane fade col-xs-12 col-sm-12 col-md-12 col-lg-12" id="guke">
                               骨科
                            </div>
                            <div class="tab-pane fade col-xs-12 col-sm-12 col-md-12 col-lg-12" id="pifuke">
                                皮肤科
                            </div>
                            <div class="tab-pane fade col-xs-12 col-sm-12 col-md-12 col-lg-12" id="chuanranbingke">
                                传染病科
                            </div>
                             <div class="tab-pane fade col-xs-12 col-sm-12 col-md-12 col-lg-12" id="miniaoke">
                                泌尿科
                            </div>
                         
                        </div>
                    </div>
            </div>

            </div>
            <!--left-->
             
        </div>

        <div class="row mt15 index-news">
            <div class="news-list col-xs-12 col-sm-6 col-md-4 col-lg-4 pd20 border">
                <div class="news-title"><h3>社会热点</h3></div>
                <div class="news-head mt15 clear">
                    <a class="news-a" href=""><img class="img-rounded" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                    <div class="news-head-content">
                        <a class="content-a" href="">老人爱瞌睡 警惕心脑血管病！</a>
                        <p>经，想必女性朋友们并不陌生，可以说它伴随着女性朋友的多半个人生，从月经初潮，到闭经一个漫过程<a href="">详情</a></p>
                    </div>
                </div>
                <ul class="mt15 borderH">
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                </ul>
            </div>
            <div class="news-list col-xs-12 col-sm-6 col-md-4 col-lg-4 ml15 pd20 border">
                <div class="news-title"><h3>原创</h3></div>
                <div class="news-head mt15 clear">
                    <a class="news-a" href=""><img class="img-rounded" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                    <div class="news-head-content">
                        <a class="content-a" href="">老人爱瞌睡 警惕心脑血管病！</a>
                        <p>经，想必女性朋友们并不陌生，可以说它伴随着女性朋友的多半个人生，从月经初潮，到闭经一个漫过程<a href="">详情</a></p>
                    </div>
                </div>
                <ul class="mt15 borderH">
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                </ul>
            </div>
            <div class="news-list col-xs-12 col-sm-6 col-md-4 col-lg-3 ml15 pd20 border">
                <div class="news-title"><h3>日记经验</h3></div>
                <div class="news-head mt15 clear">
                    <a class="news-a" href=""><img class="img-rounded" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                    <div class="news-head-content">
                        <a class="content-a" href="">老人爱瞌睡 警惕心脑血管病！</a>
                        <p>经，想必女性朋友们并不陌生，可以说它伴随着女性朋友的多半个人生，从月经初潮，到闭经一个漫过程<a href="">详情</a></p>
                    </div>
                </div>
                <ul class="mt15 borderH">
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                    <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                </ul>
            </div>
        </div>
</div>


<script type="text/javascript">

$(document).ready(function(){

$(".tabAsk-content").hover(function (){ 
            $(this).find(".tabAsk-a").show(500);  
        },function (){  
            $(this).find(".tabAsk-a").hide(500);  
        }); 
});


</script>

</body>
</html>