<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>大白宠物医院网(DaBaipet.Com) - 最专业的在线咨询、问答、查询宠物医院网站</title>
    <meta name="keywords" content="爱宠网,宠物医院" />
    <meta name="description" content="" />
    {load file='__layui__/css/layui.css'}
    {load file='__layui__/layui.js'}
    {load file='__css__/dabai.css'}
    {load file='__css__/currency.css'}
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--幻灯片-->
    {load file='__css__/flickerplate.css'}
    <script src="/static/js/wenzi-side.js"></script>
    {load file='__js__/min/flickerplate.min.js'}
    <link rel="icon" href="/favicon.ico">
</head>
<body>
{include file="public/header" /}
<div class="layui-fluid index-nav">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs2 layui-col-sm2 layui-col-md2 pull-left index-nav-left">
                <h4><i class="icon-list"></i>帮你快速找医生</h4>
                <div class="index-fenlei">
                    <div class="sidelist">
                        <dl class="nav0 nav0">
                            <dt><b></b><a href="">常见症状</a></dt>
                            <dd><a href="list-223.html">呕吐</a><a href="">流眼泪</a><a href="">腹泻</a></dd>
                        </dl>

                        <div class="i-list i-list1">
                            <div class="subitem">
                                <dl>
                                    <dt>常见症状</dt>
                                    <dd>
                                        <a href="">厌食症</a><a href="">感冒</a><a href="">流鼻涕</a><a href="">缺钙</a><a href="">螨虫</a><a href="">蛔虫</a><a href="">寄生虫</a><a href="">皮炎</a><a href="">皮屑</a><a href="">犬瘟</a><a href="">发烧</a><a href="">便血</a><a href="">疫苗</a><a href="">细小</a>
                                    </dd>
                                </dl>

                            </div>
                            <div class="subad">
                                <dl><dt>推荐品牌</dt>
                                    <dd>
                                        <a href="" target="_blank">诺优能</a>
                                        <a href="" target="_blank">爱他美</a>
                                        <a href="" target="_blank">喜宝</a>
                                        <a href="" target="_blank">惠氏</a>
                                        <a href="" target="_blank">可瑞康</a>
                                    </dd>
                                </dl>
                                <ul>
                                    <li><a href="" target="_blank"><img src="" height="70px"></a></li>
                                    <li><a href="" target="_blank"><img src="" height="70px"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="sidelist">
                        <dl class="nav0 nav1">
                            <dt><b></b><a href="list-2.html">内科</a></dt>
                            <dd>
                                <a href="">便秘</a>
                                <a href="">黄疸</a>
                                <a href="">心力衰竭</a>
                            </dd>
                        </dl>
                        <div class="i-list i-list2">
                            <div class="subitem">
                                <dl>
                                    <dt>米粉/菜粉</dt>
                                    <dd>
                                        <a href="">中毒</a><a href="">肿瘤</a><a href="">神经性</a><a href="">心血管</a><a href="">内分泌</a><a href="">消化系统</a><a href="">呼吸系统</a><a href="">营养代谢</a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="subad">
                                <dl><dt>推荐品牌</dt><dd><a href="" target="_blank">亨氏</a><a href="" target="_blank">嘉宝</a><a href="" target="_blank">喜宝</a></dd></dl>
                                <ul>
                                    <li><a href="" target="_blank"><img src="" height="70px"></a></li>
                                    <li><a href="" target="_blank"><img src="" height="70px"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="sidelist">
                        <dl class="nav0 nav2"><dt><b></b><a href="list-3.html">外科</a></dt>
                            <dd>
                                <a href="">消化系</a>
                                <a href="">呼吸系</a>
                                <a href="">中毒病</a>
                            </dd>
                        </dl>
                        <div class="i-list i-list3">
                            <div class="subitem">
                                <dl><dt>婴幼儿营养</dt>
                                    <dd><a href="">外伤</a><a href="">耳病</a><a href="">口腔</a><a href="">生殖系统</a><a href="">肛肠</a><a href="">绝育</a></dd></dl>
                            </div>
                            <div class="subad">
                                <dl>
                                    <dt>推荐品牌</dt>
                                    <dd><a href="" target="_blank">童年时光</a><a href="" target="_blank">挪威小鱼</a><a href="" target="_blank">惠氏</a></dd>
                                </dl>
                                <ul>
                                    <li><a href="" target="_blank"><img src="" height="70px"></a></li><li><a href="" target="_blank"><img src="" height="70px"></a></li>
                                </ul>
                            </div></div></div>

                    <div class="sidelist">
                        <dl class="nav0 nav3"><dt><b></b><a href="list-3.html">产科</a></dt>
                            <dd>
                                <a href="">消化系</a>
                                <a href="">呼吸系</a>
                                <a href="">中毒病</a>
                            </dd>
                        </dl>
                        <div class="i-list i-list4">
                            <div class="subitem">
                                <dl><dt>产科</dt>
                                    <dd><a href="">难产</a><a href="">子宫疾病</a><a href="">产道疾病</a><a href="">新生仔疾病</a><a href="">乳房疾病</a><a href="">产后疾病</a><a href="">妊娠期疾病</a></dd></dl></div>
                            <div class="subad">
                                <dl>
                                    <dt>推荐品牌</dt>
                                    <dd><a href="" target="_blank">童年时光</a><a href="" target="_blank">挪威小鱼</a><a href="" target="_blank">惠氏</a></dd>
                                </dl>
                                <ul>
                                    <li><a href="" target="_blank"><img src="" height="70px"></a></li><li><a href="" target="_blank"><img src="" height="70px"></a></li>
                                </ul>
                            </div></div></div>

                    <div class="sidelist">
                        <dl class="nav0 nav4"><dt><b></b><a href="list-3.html">骨科</a></dt>
                            <dd>
                                <a href="">消化系</a>
                                <a href="">呼吸系</a>
                                <a href="">中毒病</a>
                            </dd>
                        </dl>
                        <div class="i-list i-list5">
                            <div class="subitem">
                                <dl><dt>骨科</dt>
                                    <dd><a href="">关节炎</a><a href="">关节发育不全</a><a href="">脆骨症</a><a href="">软骨病</a><a href="">骨损伤</a></dd></dl></div>
                            <div class="subad">
                                <dl>
                                    <dt>推荐品牌</dt>
                                    <dd><a href="" target="_blank">童年时光</a><a href="" target="_blank">挪威小鱼</a><a href="" target="_blank">惠氏</a></dd>
                                </dl>
                                <ul>
                                    <li><a href="" target="_blank"><img src="" height="70px"></a></li><li><a href="" target="_blank"><img src="" height="70px"></a></li>
                                </ul>
                            </div></div></div>

                    <div class="sidelist">
                        <dl class="nav0 nav5"><dt><b></b><a href="list-3.html">皮肤科</a></dt>
                            <dd>
                                <a href="">消化系</a>
                                <a href="">呼吸系</a>
                                <a href="">中毒病</a>
                            </dd>
                        </dl>
                        <div class="i-list i-list6">
                            <div class="subitem">
                                <dl><dt>皮肤科</dt>
                                    <dd><a href="">细菌皮肤病</a><a href="">真菌皮肤病</a><a href="">外寄生虫性皮肤病</a></dd></dl></div>
                            <div class="subad">
                                <dl>
                                    <dt>推荐品牌</dt>
                                    <dd><a href="" target="_blank">童年时光</a><a href="" target="_blank">挪威小鱼</a><a href="" target="_blank">惠氏</a></dd>
                                </dl>
                                <ul>
                                    <li><a href="" target="_blank"><img src="" height="70px"></a></li><li><a href="" target="_blank"><img src="" height="70px"></a></li>
                                </ul>
                            </div></div></div>
                    <div class="sidelist">
                        <dl class="nav0 nav6"><dt><b></b><a href="list-3.html">传染病科</a></dt>
                            <dd>
                                <a href="">消化系</a>
                                <a href="">呼吸系</a>
                                <a href="">中毒病</a>
                            </dd>
                        </dl>
                        <div class="i-list i-list7">
                            <div class="subitem">
                                <dl><dt>传染病科</dt>
                                    <dd> <a href="">细菌传染病</a><a href="">真菌传染病</a><a href="">病毒性传染病</a><a href="">尿道结石</a><a href="">膀胱结石</a><a href="">尿道炎症</a> </dd></dl></div>
                            <div class="subad">
                                <dl>
                                    <dt>推荐品牌</dt>
                                    <dd><a href="" target="_blank">童年时光</a><a href="" target="_blank">挪威小鱼</a><a href="" target="_blank">惠氏</a></dd>
                                </dl>
                                <ul>
                                    <li><a href="" target="_blank"><img src="" height="70px"></a></li><li><a href="" target="_blank"><img src="" height="70px"></a></li>
                                </ul>
                            </div></div></div>


                </div>
            </div>
            <div class="layui-col-xs9 layui-col-sm9 layui-col-md9 pull-left index-nav-right">
                <ul class="layui-nav layui-bg-white" >
                    <li class="layui-nav-item"><a href="http://dabaipet.com/index">首页</a></li>
                    <li class="layui-nav-item"><a href="http://ask.dabaipet.com/index">医生问答</a></li>
                    <li class="layui-nav-item"><a href="http://hospital.dabaipet.com/index">找医院</a></li>
                    <li class="layui-nav-item"><a href="http://doctor.dabaipet.com/index">找医生</a></li>
                    <li class="layui-nav-item"><a href="http://fan.dabaipet.com/index">社区</a></li>
                    <li class="layui-nav-item"><a href="http://news.dabaipet.com/index">资讯</a></li>
                    <li class="layui-nav-item"><a href="http://baike.dabaipet.com/index">百科</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- index-nav end-->
<div class="layui-fluid index-slide">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 index-flicker" data-block-text="false">
            <ul>
                <li data-background="__img__/field.jpg"></li>
                <li data-background="__img__/forest.jpg"></li>
                <li data-background="__img__/frozen-water.jpg"></li>
            </ul>
        </div>
    </div>
</div>
<div class="layui-container mt15">
    <!--两条图片新闻-->
    <div class="layui-row index-imgnews">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 imgnews">
            <img  src="__img__/14-150G5121942106.jpg"><!--img-thumbnail-->
            <div class="pull-right imgnews-content fz16">
                <a href="" title="" target="_blank">微医家庭健康节，首战助力艾滋病防治</a>
                <p class=""> 在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您对本协议的条款</p>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4  imgnews">
            <img src="__img__/14-150630113935C3.jpg">
            <div class="pull-right imgnews-content fz16">
                <a href="" title="" target="_blank">微医家庭健康节，首战助力艾滋病防治</a>
                <p class=""> 在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您对本协议的条款</p>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 imgnews">
            <img class="img-thumbnail" src="__img__/9356147_172715250000_2.jpg">
            <div class="pull-right imgnews-content fz16">
                <a href="" title="" target="_blank">微医家庭健康节，首战助力艾滋病防治</a>
                <p class=""> 在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以粗体下划线标注的内容）。如果您对本协议的条款</p>
            </div>
        </div>
    </div>
    <!--预约 -->
    <div class="layui-row mt20 ">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 yuyue ">
            <div class="layui-row layui-col-space20">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md9">
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 pu-line pu-title"><h3>推荐医院</h3><p class="pull-left"> 放心医院，便捷就医！</p><span><a href="">全国宠物医院排行榜</a></span></div>
                    </div>
                    <div class="layui-row yuyue-ru ">
                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12  layui-tab dabai-pbm">
                            <ul  class="layui-tab-title">
                                <li class="layui-this">北京</li>
                                <li>上海</li>
                                <li>广东</li>
                                <li>江苏</li>
                                <li>湖北</li>
                                <li>山西</li>
                                <li>重庆</li>
                                <li>山东</li>
                                <li>浙江</li>

                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-row Hospital-fade layui-tab-item layui-show" >
                                    <div class="Hospital-top mt15 layui-col-xs12 layui-col-sm12 layui-col-md12 ">
                                        <div class="layui-row">
                                            <div class="pull-left Hospital-left layui-col-xs12 layui-col-sm12 layui-col-md4 ">
                                                <div class="pull-left Hospital-img">
                                                    <a href="" ><img class="img-rounded" src="__img__/14-150G5121942106.jpg"></a>
                                                </div>
                                                <div class="pull-right Hospital-info">
                                                    <address><a href="" class="text-primary">复旦大学附属华山医院</a><br>
                                                        三级甲等<br>
                                                        电话：021-52889999
                                                    </address>
                                                </div>
                                            </div>
                                            <div class="pull-left Hospital-left layui-col-xs12 layui-col-sm12 layui-col-md4 ">
                                                <div class="pull-left Hospital-img ">
                                                    <a href="" ><img class="img-rounded" src="__img__/14-150G5121942106.jpg"></a>
                                                </div>
                                                <div class="pull-right Hospital-info">
                                                    <address><a href="" class="text-primary">复旦大学附属华山医院</a><br>
                                                        三级甲等<br>
                                                        电话：021-52889999
                                                    </address>
                                                </div>
                                            </div>
                                            <div class="pull-right Hospital-left layui-col-xs12 layui-col-sm12 layui-col-md4 ">
                                                <div class="pull-left Hospital-img">
                                                    <a href="" ><img class="img-rounded" src="__img__/14-150630113935C3.jpg" ></a>
                                                </div>
                                                <div class="pull-right Hospital-info">
                                                    <address><a href="" class="text-primary">复旦大学附属华山医院</a><br>
                                                        三级甲等<br>
                                                        电话：021-52889999
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Hospital-bottom mt15 layui-col-xs12 layui-col-xs12 layui-col-sm12 layui-col-md12 ">
                                        <div class="layui-row">
                                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 ">
                                                <ul >
                                                    <li><a href="" title="">复旦大学附属妇产科医院（黄浦）</a></li>
                                                    <li><a href="" title=""> 复旦大学附属眼耳鼻喉科医院</a></li>
                                                    <li><a href="" title=""> 复旦大学附属中山医院</a></li>

                                                </ul>
                                            </div>
                                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 ">
                                                <ul >
                                                    <li><a href="" title="">复旦大学附属妇产科医院（黄浦）</a></li>
                                                    <li><a href="" title=""> 复旦大学附属眼耳鼻喉科医院</a></li>
                                                    <li><a href="" title=""> 复旦大学附属中山医院</a></li>

                                                </ul>
                                            </div>
                                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 ">
                                                <ul>
                                                    <li><a href="" title="">复旦大学附属妇产科医院（黄浦）</a></li>
                                                    <li><a href="" title=""> 复旦大学附属眼耳鼻喉科医院</a></li>
                                                    <li><a href="" title=""> 复旦大学附属中山医院</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-tab-item">
                                    上海
                                </div>
                                <div class="layui-tab-item">
                                    广东
                                </div>
                                <div class="layui-tab-item">
                                    江苏
                                </div>
                                <div class="layui-tab-item">
                                    湖北
                                </div>
                                <div class="layui-tab-item">
                                    山西
                                </div>
                                <div class="layui-tab-item">
                                    重庆
                                </div>
                                <div class="layui-tab-item">
                                    山东
                                </div>
                                <div class="layui-tab-item">
                                    浙江
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md3 ">
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12  pu-line pu-title"><h3>预约挂号</h3><p class="pull-left"> 快速预约</p></div>
                    </div>
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12  yuyue-left yuyue-ru dabai-pbm">
                            <form  class="layui-form" action="">
                                <div class="yuyueleft-title">
                                    <i class="fa fa-map-marker"></i><span>北京</span><span>海淀区</span><a href="" >切换</a><i class="icon-caret-down"></i>
                                </div>
                                <div class="yuyueleft-main mt15">
                                    <input type="text" class="layui-input" required  lay-verify="required" name="" value="" placeholder="请输入你要预约的医院">
                                    <input type="text" class="layui-input" required  lay-verify="required" name="" value="" placeholder="请选择科室">
                                </div>
                                <div class="yuyueleft-submit">
                                    <input type="submit" class="layui-btn layui-btn-normal" value="快速挂号">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--在线问诊-->
    <div class="layui-row index-online">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 ">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12  pu-line pu-title"><h3>在线问诊</h3><p class="pull-left">足不出户看医生</p></div>
            </div>
            <div class="layui-row dabai-pdm online-inter">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-tab  pd20 border">
                    <ul class="layui-tab-title">
                        <li class="layui-this">内科</li>
                        <li>外科</li>
                        <li>产科</li>
                        <li>骨科</li>
                        <li>皮肤科</li>
                        <li>传染病科</li>
                        <li>泌尿科</li>
                    </ul>
                    <div class="layui-row layui-tab-content">
                        <div class="layui-tab-item layui-show layui-col-xs12 layui-col-sm12 layui-col-md12 ">
                            <div class="layui-row">
                                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
                                    <div class="online-tabImg layui-row layui-col-space20">
                                        <div class="tabImg-content pull-left mt20  layui-col-xs12 layui-col-sm4 layui-col-md4 layui-col-lg4">
                                            <div class="border">
                                            <div class="tabImg-top pd20">
                                                <div class="tabImgc-img">
                                                    <a href="" ><img class="img-circle" src="__img__/9356147_172715250000_2.jpg"></a>
                                                </div>
                                                <div class="tabImgc-info ml20">
                                                    <address>
                                                        <span><a href="">肖艳峰</a>副教授</span>
                                                        <span>中国人民解放军总医院301</span>
                                                        <span>已有330人问诊</span>
                                                    </address>
                                                </div>
                                            </div>
                                            <div class="tabImg-bottom pdtb15">
                                                <p>儿童各类肺炎、腹泻、脑炎、肾炎、心肌炎、结啼组织...</p>
                                            </div>
                                        </div>
                                        </div><!--块级-->
                                        <div class="tabImg-content pull-left mt20 layui-col-xs12 layui-col-sm4 layui-col-md4 layui-col-lg4">
                                            <div class="border">
                                            <div class="tabImg-top pd20">
                                                <div class="tabImgc-img">
                                                    <a href="" ><img class="img-circle" src="__img__/9356147_172715250000_2.jpg"></a>
                                                </div>
                                                <div class="tabImgc-info ml20">
                                                    <address>
                                                        <span><a href="">肖艳峰</a>副教授</span>
                                                        <span>中国人民解放军总医院301</span>
                                                        <span>已有330人问诊</span>
                                                    </address>
                                                </div>
                                            </div>
                                            <div class="tabImg-bottom pdtb15">
                                                <p>儿童各类肺炎、腹泻、脑炎、肾炎、心肌炎、结啼组织...</p>
                                            </div>
                                        </div>
                                        </div><!--块级-->
                                        <div class="tabImg-content pull-left mt20  layui-col-xs12 layui-col-sm4 layui-col-md4 layui-col-lg4">
                                            <div class="border">
                                            <div class="tabImg-top pd20">
                                                <div class="tabImgc-img">
                                                    <a href="" ><img class="img-circle" src="__img__/9356147_172715250000_2.jpg"></a>
                                                </div>
                                                <div class="tabImgc-info ml20">
                                                    <address>
                                                        <span><a href="">肖艳峰</a>副教授</span>
                                                        <span>中国人民解放军总医院301</span>
                                                        <span>已有330人问诊</span>
                                                    </address>
                                                </div>
                                            </div>
                                            <div class="tabImg-bottom pdtb15">
                                                <p>儿童各类肺炎、腹泻、脑炎、肾炎、心肌炎、结啼组织...</p>
                                            </div>
                                            </div></div><!--块级-->
                                    </div>
                                </div><!--医师end -->

                                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 s-index-side">
                                    <ul class="online-tabAsk mrt10 weekly-list">
                                        <div class="layui-row layui-collapse" >
                                            <li class="">
                                            <div class="tabAsk-content   pt15 layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                <div class="tabAsk-q " >
                                                    <span>已经吃了六个月达英，这个月医生给开了调经促孕丸，也没安排促排。可是激素范围范围范围内</span>
                                                    <p class="q-time">2016-09-07</p>
                                                </div>
                                                <div class="tabAsk-a  ml20  layui-show" >
                                                    <a href="" class="tabAska-a"><img src="__img__/9356147_172715250000_2.jpg" class="img-circle"></a>
                                                    <div class="tabAskac-p">
                                                        <p><a href="">王勇来</a>主任医师  中国医科大学附属盛京医院-妇科</p>
                                                        <p class="layui-text">卵巢囊肿可能是生理性。子宫内膜略薄一些。不影响怀孕。<a href="">详细</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            </li>
                                            <li class="">
                                            <div class="tabAsk-content   pt15 layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                <div class="tabAsk-q " >
                                                    <span>已经吃了六个月达英，这个月医生给开了调经促孕丸，也没安排促排。可是激素范围范围范围内</span>
                                                    <p class="q-time">2016-09-07</p>
                                                </div>
                                                <div class="tabAsk-a mt15 ml20  " >
                                                    <a href="" class="tabAska-a"><img src="__img__/9356147_172715250000_2.jpg" class="img-circle"></a>
                                                    <div class="tabAskac-p">
                                                        <p><a href="">王勇来</a>主任医师  中国医科大学附属盛京医院-妇科</p>
                                                        <p class="layui-text">卵巢囊肿可能是生理性。子宫内膜略薄一些。不影响怀孕。<a href="">详细</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                            </li>
                                        </div>
                                    </ul>
                                </div><!--问题 end-->
                            </div>
                        </div><!-- 大切换内容end-->

                        <div class="layui-tab-item layui-col-xs12 layui-col-sm12 layui-col-md12 " >
                            外科
                        </div>
                        <div class="layui-tab-item layui-col-xs12 layui-col-sm12 layui-col-md12 " >
                            产科
                        </div>
                        <div class="layui-tab-item layui-col-xs12 layui-col-sm12 layui-col-md12 " >
                            骨科
                        </div>
                        <div class="layui-tab-item layui-col-xs12 layui-col-sm12 layui-col-md12 " >
                            皮肤科
                        </div>
                        <div class="layui-tab-item layui-col-xs12 layui-col-sm12 layui-col-md12 " >
                            传染病科
                        </div>
                        <div class="layui-tab-item layui-col-xs12 layui-col-sm12 layui-col-md12 " >
                            泌尿科
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--left-->
    </div>

    <div class="layui-row  layui-col-space20 index-news">
        <div class="news-list layui-col-xs12 layui-col-sm6 layui-col-md4">
            <div class="dabai-pbm">
            <div class="news-title"><h3>社会热点</h3></div>
            <div class="news-head mt15 clear">
                <a class="news-a" href=""><img class="img-rounded" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                <div class="news-head-content">
                    <a class="content-a" href="">老人爱瞌睡 警惕心脑血管病！</a>
                    <p>经，想必女性朋友们并不陌生，可以说它伴随着女性朋友的多半个人生，从月经初潮，到闭经一个漫过程<a href="">详情</a></p>
                </div>
            </div>
            <ul class="mt10 borderH">
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
            </ul>
        </div>
        </div>
        <div class="news-list layui-col-xs12 layui-col-sm6 layui-col-md4  ">
            <div class="dabai-pbm">
            <div class="news-title"><h3>原创</h3></div>
            <div class="news-head mt15 clear">
                <a class="news-a" href=""><img class="img-rounded" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                <div class="news-head-content">
                    <a class="content-a" href="">老人爱瞌睡 警惕心脑血管病！</a>
                    <p>经，想必女性朋友们并不陌生，可以说它伴随着女性朋友的多半个人生，从月经初潮，到闭经一个漫过程<a href="">详情</a></p>
                </div>
            </div>
            <ul class="mt10 borderH">
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
            </ul>
        </div>
        </div>
        <div class="news-list layui-col-xs12 layui-col-sm6 layui-col-md4 ">
            <div class="dabai-pbm">
            <div class="news-title"><h3>日记经验</h3></div>
            <div class="news-head mt15 clear">
                <a class="news-a" href=""><img class="img-rounded" src="__PUBLIC__/index/images/14-150630113935C3.jpg"></a>
                <div class="news-head-content">
                    <a class="content-a" href="">老人爱瞌睡 警惕心脑血管病！</a>
                    <p>经，想必女性朋友们并不陌生，可以说它伴随着女性朋友的多半个人生，从月经初潮，到闭经一个漫过程<a href="">详情</a></p>
                </div>
            </div>
            <ul class="mt10 borderH">
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
                <li><a href="">感冒重复用药，你中招了吗</a> <i>2016-10-12</i></li>
            </ul>
        </div>
        </div>
    </div>
</div>


</body>
</html>