<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>在线问诊 - 大白宠物医院</title>
    <link href="/style/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/style/css/currency.css" rel="stylesheet">
    <link href="/style/css/ask.css" rel="stylesheet">
</head>
<body>
<!-- 在线问诊项目-->

<div class="container">
    <div class="row ">
        <div class="ItemListLeft col-sm-9 col-md-9 col-lg-9">
111
        </div>
        <div class="ItemListRight col-sm-3 col-md-3 col-lg-3">
            22
        </div>
    </div>
</div>
</body>
</html>