<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {load file='__bootstrap__/css/bootstrap.min.css'}
    {load file='__bootstrap__/css/font-awesome.min.css'}
    {load file='__css__/hospital.css'}
    {load file='__css__/currency.css'}
    {load file='__js__/jquery-1.12.0.min.js'}
</head>
<body>
<!--hospitalpital-->
<div class="container-fluid">
    <!--litter nav begin-->
    <div class="row hospitalNav">
    <div class="chanl-head white col-sm-12 col-md-12 col-lg-12">
        <ul class="flleft ">
            <li><a href="" class="logo" target="_blank"><img alt="悦美网" src="//icon.yuemei.com/front/common/images/logo_top.png"></a></li>
            <li><a href="//www.yuemei.com/" target="_blank">首页</a></li>
            <li><a href="//www.yuemei.com/parts.html" target="_blank">项目</a></li>
            <li><a href="//ask.yuemei.com/" target="_blank">问答</a></li>
            <li><a href="//doctor.yuemei.com/" target="_blank">找医生</a></li>
            <li><a href="//hospital.yuemei.com/" target="_blank">找医院</a></li>
            <li><a href="//fan.yuemei.com/" target="_blank">社区</a></li>
            <li><a href="//note.yuemei.com/" target="_blank">经验</a></li>
            <li><a href="//www.yuemei.com/app/kuaiwen.html" target="_blank">APP</a></li>
        </ul>
        <ul class="flright noin">
            <li><a href=""><i class="icon-hospital"></i>医院入口</a></li>
            <li><a href=""><i class="icon-user-md"></i>医生注册</a></li>
            <li><a href=""><i class="icon-user"></i>用户注册</a></li>
            <li><a href=""><i class="icon-laptop"></i>登陆</a></li>
        </ul>

    </div>
    </div>
    <!--litter nav end-->
    <!--hospitalpital info img begin-->
    <div class="row hospitalInfoImg">
        <div class="hospitalInfohead col-sm-12 col-md-12 col-lg-12">
            <div class="container hospitalInfomain">
                <a href="javascript:;" class="left hospital-img">
                    <img src="//ymt.yuemei.com/upload/vip/120_120/14915441164116.png" alt="">
                </a>
                <div class="left hospitalInfoDate">
                    <h1 class="hospitalInfoName">广州韩佳人医疗美容门诊部</h1>
                    <div class="hover-data">
                        <div class="data-text">资质：美容门诊部                    （民营）
                        </div>
                        <div class="data-lv">
                            <span>效果 <i class="c-ff8135">5.0</i></span>                    <span>服务 <i class="c-ff8135">5.0</i></span>                    <span>医生 <i class="c-ff8135">5.0</i></span>                                        <span class="more-icon"><b></b></span>
                        </div>

                    </div>
                    <!-- 2017-4-7 add yxx :悦美网提示 -->
                    <div class="feedback-box">大白提醒：本页面内容信息由医院 / 医生发布并对信息的真实性及合法性负责，如您对信息真实性及合法性有质疑，请向<a href="" class="feedback-text">大白反馈</a>。</div>
                </div>
                <div class="right hospitalBtn">
                    <a href="javascript:;" class="btn-link zixun-btn _yma" _ymaname="chat_hospital" _ymapos="hospital_service" _ymaothers="10835" onclick="easemobim.bind({tenantId: &quot;37609&quot;,dialogWidth: &quot;280px&quot;,dialogHeight:&quot;430px&quot;,dialogPosition:{ x: &quot;45px&quot;, y: &quot;10px&quot; },dialogHeighthide: true,satisfaction:false});"><span><i></i>在线咨询</span></a>                        <a href="//www.yuemei.com/order?po=1055&amp;ymt=10835" class="btn-link yuyue-btn" target="_blank">预约服务</a>
                </div>
            </div>

        </div>
    </div>
    <!--hospitalpital info img end-->

        <div class="row hospitalMicNav ">
            <ul class="wrap-main">
                <li>
                    <a href="//www.yuemei.com/hospital/10835/" class="now">主页</a>
                </li>
                <li>
                    <a href="//www.yuemei.com/hospital/10835/tao.html" class="">服务<span>（23）</span></a>
                </li>
                <li>
                    <a href="//www.yuemei.com/hospital/10835/evaluation.html" class="">日记<span>（82）</span></a>
                </li>
                <li>
                    <a href="//www.yuemei.com/hospital/10835/doctor.html" class="">医生<span>（3）</span></a>
                </li>
                <li>
                    <a href="//www.yuemei.com/hospital/10835/environment.html" class="">相册<span>（23）</span></a>
                </li>
            </ul>
        </div>

</div>
<!-- hospitalpital centont begin -->
<div class="container">
    <div class="row hospitalCenter">
        <!--hospital left begin -->
        <div class="hospitalinfoLeft col-sm-9 col-md-9 col-lg-9">
        
        </div>
        <!--hospital left end -->
        <!--hospital right begin -->
        <div class="hospitalinfoRight col-sm-3 col-md-3 col-lg-3">

        </div>
        <!--hospital right end -->
    </div>
</div>
<!-- hospitalpital centont end -->
</body>
</html>