<div class="userLeft-slide">
    <a href="{:url('/user');}" class="slide-tit"><i class="ico icon-star"></i> 我的大白</a>
    <div class="userLeft-list">
        <div>交易管理</div>
        <ul>
            <li><a href="{:url('/user/myOrder');}">我的订单</a></li>
            <li><a href="{:url('/user/myCoupons');}">我的优惠券</a></li>
            <li><a href="{:url('/user/myRefund');}">售后/退款</a></li>
            <li><a href="{:url('/user/myEvaluate');}">我的评价</a></li>
            <li><a href="{:url('/user/collectionBaby');}" class="now">我收藏的宝贝</a></li>
            <li><a href="{:url('/user/collectionDoc');}">我收藏的医生医院</a></li>
            <li><a href="{:url('/user/systemMessage');}">系统消息</a></li>
        </ul>
    </div>
    <div class="userLeft-list">
        <div>社区内容</div>
        <ul>
            <li><a href="{:url('/user/myRelease');}">我发布的</a></li>
            <li><a href="{:url('/user/myPost');}">我收藏的帖子</a></li>
            <li><a href="{:url('/user/bbsMessage');}">社区消息</a></li>
        </ul>
    </div>
    <div class="userLeft-list">
        <div>账号设置</div>
        <ul>
            <li><a href="{:url('/user/myModify');}">修改资料</a></li>
            <li><a href="{:url('/user/mySafe');}">安全中心</a></li>
            <li><a href="{:url('/user/myPassword');}">修改密码</a></li>
        </ul>
    </div>
</div>
